.text-left .input-group{
    color: #666;
}
.btn-btn{
    margin-bottom: 30px
}
// .userForm{
//     margin-bottom: 32px
// }

// .userfrom {
//     margin-top: 22px;
//     margin-right: 30px;
//     margin-left: 30px;
// }

.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
  margin: 0.5rem 3rem 0rem 3rem;
}
